// Utilities
$utilities: () !default;
$utilities: map-merge(
  (
    'width': (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        95: 95%,
        100: 100%,
        auto: auto,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        95: 95%,
        100: 100%,
        auto: auto,
      ),
    ),
  ),
  $utilities
);
